{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Servers administration{% endblock%}

{% block body %}
    <header>
        <h1>Administaration</h1>
    </header>
    <article>
        Administrate servers
    </article>
{% endblock %}